* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration:none; 
	list-style: none;
}
nav {
	width: 200px;
	height: 40px;
	display: flex;
}
a{
 margin:20px;
 display: flex;
 justify-content: space-between;
}
h1 {
	text-align: center;
}
p{
	margin-top: 90px;
	font-size: 28px;
	width: 50vw;
	text-align: center;
}
.divtexto-description {
	justify-content: center;
	 display: flex;
}
.divfoto-profile {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.div-logosite {
	width: 50px;
	height: 50px;
}
footer {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
body {
  background-image: radial-gradient(circle, #1E90FF, white, #87CEEB);
}
main {
	display: flex;
	flex-direction: column;
}
.foto-profile {
	display: flex;
	justify-content: center;
	border-radius: 50%;
}
.imgfooter-face,.imgfooter-insta ,.imgfooter-git{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: space-around;	
}
.div-footer {
	width: 10px;
	height: 50px;
	display: flex;
	justify-content: center;
}